* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 700vh;
  width: 100vw;
  position: relative;
  p {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
  }
  .cards {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .card {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 30%;
      aspect-ratio: 2/3;
      border-radius: 15px;
      padding: 10px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translate(-50%,-50%);
      backface-visibility: 0;
      .about {
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          text-transform: uppercase;
          font-size: 1.1rem;
        }
        .info {
          opacity: .9;
          font-size: 11px;
        }
      }
    }
    .card-1 {
      background: #d41006;
      transform: translate(-50%,-50%) ;
    }
    .card-2 {
      background: #171717;
    }
    .card-3 {
      background: #dcdcdc;
      color: rgb(24, 24, 24);
      transform: translate(-50%,-50%)  ;
    }
  }
}